@charset "UTF-8";
h2, h3{
	text-align : center;
}

footer div.footer{
	text-align : center;
}

table {
	margin : 0 auto;
	width : 70%;
	text-align : center;
}

p {
	margin-left : 260px;
}

div.btn_group{
	text-align:right;
	margin-right: 260px;
}